#container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 20px auto;
}

/* Стилі для прямокутників */
.rectangle {
  position: absolute;
  background: hotpink;
}

#fullness {
  display: flex;
  justify-content: center;
}
